.box {
  border: 1px solid lightgray;
  border-radius: 0.1rem;
}

.shop-by {
    font-family: Montserrat;
    font-size: 1.5rem;
    padding: 1rem;
}

.field {
    font-family: Montserrat;
    font-size: 1.1rem;
}
