/* Global variable declaration */
:root {
  --menuIcon: none;
  --headerContainer: flex;
}

/* ============== */
/* DEFAULT STYLES */
/* ============== */
.menuIcon {
  display: var(--menuIcon);
}

.headerContainer {
  display: var(--headerContainer);
  align-items: center;
}

.brandName {
  display: inline;
  margin: 0;
  padding-right: 2rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.mainItems {
  display: inline;
  margin: 0;
  padding-right: 2rem;
  font-family: Montserrat;
  font-size: 1.5rem;
  cursor: pointer;
}

.searchContainer {
  margin-left: auto;
}

/* SCREEN BREAKPOINT */
/* Guide only
  /* when you encounter screen size
  /* like range of 300px upto 1250px
  /* you must add update to default styles
  */
@media screen and (min-width: 300px) and (max-width: 1250px) {
  :root {
    --menuIcon: block;
    --headerContainer: none;
  }

  .headerContainer {
    display: var(--headerContainer);
  }

  .menuIcon {
    font-size: 2rem;
    font-weight: 900;
    display: var(--menuIcon);
  }

  .brandName {
    padding-right: 0;
  }

  .mainItems {
    display: block;
    padding-right: 0;
  }

  .searchContainer {
    margin-left: 0;
    width: 50%;
  }
}

@media screen and (min-width: 1251px) and (max-width: 4000px) {
  .headerContainer {
    --headerContainer: flex;
    display: var(--headerContainer);
  }
}
